

h1 {
  color: skyblue; 
    text-align: center; 
    font-family: "helvetica"
}

h3.aboutMe {
  color: skyblue; 
}

p {
  color: black;
font-family: sans-serif; 
    
}


img.profileImage {
    align-content: center;
    width: 300px;  
    max-width: 95%; 
    float: right;
    margin: 0 0 10px 10px;
}
    
    
}

img.bookCover { 
    
    align-content: center;
    width: 300px;
    max-width 95%; 
    
}


body {
  
  background-color: white;
  
}

h2 {
  color: black;
  
  
}

h2.bookCover {
  
    font-family: sans-serif; 
}

.center { 
 margin: auto;
  
}

ol { 
text-align: left;

}

