

h1 {
  color: skyblue; 
    text-align: center; 
    font-family: sans-serif
    margin-left: 10%; 
}

h3.aboutMe {
  color: skyblue; 
  font-family: sans-serif;
   margin-left: 10%; 
    
}

h3.goals {
  font: sans-serif; 
   margin-left: 10%; 
  
}

h2.book {
  font: sans-serif;
  margin-left: 10%; 
}
  
p {
  color: black;
  font-family: sans-serif; 
    margin-left: 10%;
}


img.profileImage {
    align-content: center;
    width: 300px;  
    max-width: 95%; 
    float: right;
    margin: 0 0 10px 10px;
    margin-right 10%
}
    
    
}

img.bookCover { 
    
    align-content: center;
    width: 300px;
    max-width 95%; 
     margin-left: 10%; 
}


body {
  
  background-color: white;
  
}

h2 {
  color: black;
  
  
}

h2.bookCover {
   margin-left: 10%; 
    font-family: sans-serif; 
}

.center { 
 margin: auto;
  
}

ol { 
text-align: left;

}

