html {
  text-align: center;
   color: #708090
}

h4 { 
  color: #708090
    
}


body {
  font-family: sans-serif;
  margin-left: 25%;
  margin-right: 25%;
 
}

h1 {
  color: skyblue; 
    text-align: center; 
    font-family "helvetica" 
}

h3.aboutMe {
  color: skyblue; 
    
}



img.profileImage {
    align-content: center;
    width: 300px;  
    max-width: 95%; 
    float: right;
    margin: 0 0 10px 10px;
}
    
    
}

img.art { 
    
    align-content: center;
    width: 50px;
    max-width 45%;

}



body {
  
  background-color: white;
  
}

h2 {
  color: skyblue;
  
  
}

h2.bookCover {
   margin-left: 10%; 
   
}



li {
  display: inline; 
  list-style-type: none;  
  margin-left: 10%; 
}                                           

